.group--button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:1.5rem 0 3rem 0;
}
.group--button .button--edit, 
.group--button .button--trash{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 4.3rem;
   height: 4.3rem;
   border: none;
   border-radius: 1rem;
   -webkit-box-shadow: 10px 10px 9px -7px rgba(0,0,0,0.37);
   -moz-box-shadow: 10px 10px 9px -7px rgba(0,0,0,0.37);
    box-shadow: 10px 10px 9px -7px rgba(0,0,0,0.37);
    cursor: pointer;
}
.group--button .button--edit{
    background-color: var(--primary-color);
}
.group--button .button--trash{
    background-color: var(--background-color);
}
