footer .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-and-foonter);
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
    height: 8rem;
    position: relative;
    z-index: 10;
}
footer .footer span{
    margin-right: 0.5rem;
}